@import url("https://fonts.googleapis.com/css2?family=Sora&family=Space+Grotesk&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  width: 100vw;
}

body {
  background-color: #1a1a17;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk";
}

a,
li,
p {
  font-family: "Sora";
}
